CONFIG_NOXTLS=y
CONFIG_NOXTLS_PROFILE_DEFAULT=y
CONFIG_NOXTLS_USE_ESP_ENTROPY=y

CONFIG_NOXTLS_FEATURE_TLS=n
CONFIG_NOXTLS_FEATURE_TLS12=n
CONFIG_NOXTLS_FEATURE_TLS13=n
CONFIG_NOXTLS_FEATURE_CERT=n

CONFIG_ESP_MAIN_TASK_STACK_SIZE=24576
CONFIG_COMPILER_OPTIMIZATION_PERF=y
