CONFIG_NOXTLS=y
CONFIG_NOXTLS_PROFILE_DEFAULT=y
CONFIG_NOXTLS_USE_ESP_ENTROPY=y

CONFIG_NOXTLS_FEATURE_TLS=y
CONFIG_NOXTLS_FEATURE_TLS13=y
CONFIG_NOXTLS_FEATURE_CERT=y
CONFIG_NOXTLS_FEATURE_ECC=y
CONFIG_NOXTLS_FEATURE_ECDSA=y
CONFIG_NOXTLS_FEATURE_SHA256=y

CONFIG_ESP_MAIN_TASK_STACK_SIZE=24576
CONFIG_COMPILER_OPTIMIZATION_PERF=y

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="8MB"

CONFIG_SPIFFS_USE_MTIME=y
